
@import url("../../public/assets/css/remixicon.css");
@import url("../../public/assets/css/lib/bootstrap.min.css");
@import url("../../public/assets/css/lib/apexcharts.css");
@import url("../../public/assets/css/lib/dataTables.min.css");
@import url("../../public/assets/css/lib/dataTables.min.css");
@import url("../../public/assets/css/style.css");
@import url("../../public/assets/css/extra.css");



.react-datepicker-wrapper {
  width: 100% !important;
}

.datePicker {
  width: 100% !important;
}
.custom-time-input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color) !important;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: var(--primary-50);
  color: var(--primary-600) !important;
}
.custom-time-input[type="time"]::-webkit-inner-spin-button {
  display: none;
}
.custom-time-input[type="time"]:hover {
  border-color: #0056b3;
}



/* In your global CSS (e.g., globals.css) */
/* Adjusting Modal Dialog for Responsive Design */
.modal-dialog {
  max-width: 100%;   /* Ensure modal doesn't overflow the screen */
  width: 90vw;       /* Make modal smaller on mobile screens */
  margin: 0 auto;    /* Center the modal */
}

.modal-body {
  padding: 1rem;      /* Ensure proper padding on small devices */
  max-height: 70vh;   /* Restrict modal body height on small screens */
  overflow-y: auto;   /* Allow scrolling within the modal body */
}

/* Specific Breakpoint for Mobile Screens */
@media (max-width: 767px) {
  .modal-dialog {
    width: 90%;  /* Make the modal width smaller on mobile */
  }

  .modal-body {
    max-height: 60vh;  /* Allow more space on small devices */
    padding: 16px;     /* Adjust padding for mobile screens */
  }

  .text-md {
    font-size: 14px;    /* Adjust font size for mobile */
  }
}






/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
